.historyArea{
    position: absolute;
    top: 11%;
    right: 0;
    width: 10%;
    height: 30%;
    background: $menuColor;
    overflow-y: auto;

    span{
        margin-bottom: 10px;
    }
}

.history{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 5px;
}