@import './history.scss';
@import './img_field.scss';

.workArea{
    display: grid;
    grid-template-rows: 7% 3%;
    
    width: 100%; 
    height: 100%;  
}

// nav

.imgBtnArea{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    background-color: $menuColor;
    column-gap: 10px;
    padding: 5px;
}

.imgAreaBtn{
    width: 15%;
    cursor: pointer;
    background-color: $btnColor;
    &:hover{
        background-color: $opColor;
    }
}



//files names

.ImgNameList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    column-gap: 2px;
    flex:1;
    z-index: 2;
    background-color: $panelColor;

}

.ImgBtn{
    height: 100%;
    max-width: 10%;
    background-color: $btnColor;
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto 30px;
    justify-content: center;
    text-overflow: ellipsis;
    cursor: pointer;
    span{
        overflow: hidden;
        font-size: 12px;
    }

}


.delBtn{
    height: 95%;
    width: 100%;
    background-color: $opColor;
    font-size: 16px;
    cursor: pointer;
    &:hover{
        background-color: $btnColor;
    }
}

