*{
    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.App{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}

.ImgBtn{
    background-color: brown;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.delBtn{
    width: 5px;
    height: 25px;
    background-color: red;
}

.ImgNameList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.imgBtnArea{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end

}


.imgAreaBtn{
    margin: 3px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.ImgArea{
    overflow: hidden;
    position: relative;
}

.img{
}
.canvas{
    background-color: transparent;
    position: absolute;
    left: 0px;
    top: 0px;
}

.save{
    background-color: red;
}

.add{
    background-color: aquamarine;
}

.dropArea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background-color: azure;
    border: 5px dashed black;
}

.toolsPanel{
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: bisque;
    overflow: auto;
}

.groupTools{
    width: 100%;
    height: auto;
    background-color: aquamarine;
}

.toolsOpenBtn{
    width: 100%;
    height: 30px;
    background-color: rgb(175, 175, 255);
    cursor: pointer;
}

.toolBtn{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
}

.resetFilter{
    width: 50px;
    height: 25px;
}

.history{
    position: absolute;
    right: 0;
    width: 10%;
    height: 20%;
    background-color: gray;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}